<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Slider</title>
  <link rel="stylesheet" href="/static/team.css">
</head>
<body>
  <div class="slider">
    <div class="slides">
      <!-- Slide 1 -->
      <div class="slide">
        <img src="ME.jpg" alt="Image 1">
      </div>
      <!-- Slide 2 -->
      <div class="slide">
        <img src="KAN.jpg" alt="Image 2">
      </div>
      <!-- Slide 3 -->
      <div class="slide">
        <img src="RITAM.jpg" alt="Image 3">
      </div>
      <!-- Slide 4 -->
      <div class="slide">
        <img src="DEBA.jpg" alt="Image 4">
      </div>
      <div class="slide">
        <img src="SRIJA.jpg" alt="Image 4">
      </div>
    </div>
  </div>
</body>
</html>
